<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Project_Manegement_System___KMC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Project_Manegement_System___KMC.Properties.Settings.ProjectManegementSystemDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProjectManegementSystemDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Project_Manegement_System___KMC.Properties.Settings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value>C:\Users\user\source\repos\Projects\C# Programming Projects\My Projects\ProjectManegementSystemKMC\Project Manegement System - KMC\ProjectManegementSystemDB.mdf</value>
            </setting>
            <setting name="SelectedEHID" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginType" serializeAs="String">
                <value />
            </setting>
            <setting name="User" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsFileLocation" serializeAs="String">
                <value>|DataDirectory|\Settings.xml</value>
            </setting>
        </Project_Manegement_System___KMC.Properties.Settings>
    </userSettings>
</configuration>
